@namespace LeaderPivot.Blazor
@using LeaderAnalytics.LeaderPivot
@typeparam T

       
<div class="d-flex flex-column justify-space-between" Style="height:100%">
    
    <button class="btn button" style="width:150px;" @onclick="@(x => ReloadData.InvokeAsync(null))">Reload Data</button>

    <div hidden="@(!DisplayGrandTotalOption)" class="flex-row align-self-start" >
        <input type="checkbox" checked="@(DisplayGrandTotals.HasValue ? DisplayGrandTotals.Value : false)"  @onclick="DisplayGrandTotalsClick"  /><label style="margin-left:4px;">Grand Totals</label>
    </div>
    
    <div Class="mt-8 flex-column">

        @foreach (Measure<T> measure in Measures)
        {
            <div>
                <input type="checkbox" checked="@measure.IsEnabled" @onchange="(x => MeasureCheckedChanged(measure, x))" /><label style="margin-left:4px;">@measure.DisplayValue</label>
            </div>
        }
    </div>
    
    <div Class="mt-8" >
        <DimensionContainer T="T" @bind-Dimensions="ChildDimensions" RenderTable="ChildRenderTable"></DimensionContainer>
    </div>
</div>


@code {

    [Parameter] public IEnumerable<Dimension<T>> Dimensions { get; set; }
    [Parameter] public IEnumerable<Measure<T>> Measures { get; set; }
    [Parameter] public bool? DisplayGrandTotals { get; set; }
    [Parameter] public EventCallback<bool?> DisplayGrandTotalsChanged { get; set; }
    [Parameter] public EventCallback<IEnumerable<Measure<T>>> MeasuresChanged { get; set; }
    [Parameter] public EventCallback<IEnumerable<Dimension<T>>> DimensionsChanged { get; set; }
    [Parameter] public EventCallback RenderTable { get; set; }
    [Parameter] public EventCallback ReloadData { get; set; }
    [Parameter] public bool DisplayGrandTotalOption { get; set; }
    [Parameter] public bool DisplayDimensionButtons { get; set; }
    [Parameter] public bool DisplayMeasureSelectors { get; set; }
    [Parameter] public bool DisplayReloadDataButton { get; set; }
    [Parameter] public LeaderPivotStyle PivotStyle { get; set; }


    [Parameter]
    public IEnumerable<Dimension<T>> ChildDimensions
    {
        get => Dimensions;
        set
        {
            Dimensions = value;
            DimensionsChanged.InvokeAsync(value);
        }
    }

    public ControlContainer()
    {
        Dimensions = new List<Dimension<T>>();
        Measures = new List<Measure<T>>();
    }

    public async Task DisplayGrandTotalsClick()
    {
        await DisplayGrandTotalsChanged.InvokeAsync(!DisplayGrandTotals);
        await RenderTable.InvokeAsync(null);
    }


    public async Task MeasureCheckedChanged(Measure<T> measure, ChangeEventArgs e)
    {
        measure.IsEnabled = (bool)e.Value;
        await MeasuresChanged.InvokeAsync(Measures);
        await RenderTable.InvokeAsync(null);
    }

    public async Task ChildRenderTable()
    {
        await RenderTable.InvokeAsync(null);
    }
}