@namespace LeaderPivot.Blazor
@inherits Cell

<td data-label="@DataLabel" class="@PivotStyle.GroupHeaderCell" style="@PivotStyle.CellStyle"  @attributes="@UserAttributes" rowspan="@RowSpan" colspan="@ColSpan" scope="@Scope" >
    @if (CanToggleExapansion)
    {

         <div style="white-space:nowrap">
             <button type="button" class="@PivotStyle.GroupHeaderButton" @onclick="HandleToggleExpand" >
                
                    @if (IsExpanded)
                    {
                        <span class="oi oi-caret-bottom" title="Collapse" aria-hidden="true"></span>
                    }
                    else
                    {
                        <span class="oi oi-caret-right" title="Expand" aria-hidden="true"></span>
                    }

             </button>
             @ChildContent 
         </div>
    }
    else
    { 
        @ChildContent 
    }
</td>

@code {
 
    [Parameter] public bool IsExpanded { get; set; }
    [Parameter] public bool CanToggleExapansion { get; set; }
    [Parameter] public string NodeID { get; set; }
    [Parameter] public EventCallback<string> ToggleExpansion { get; set; }

    public async Task HandleToggleExpand()
    {
        await ToggleExpansion.InvokeAsync(NodeID);
    }

}