@namespace LeaderPivot.Blazor
@inherits Cell

<td data-label="@DataLabel" class="@PivotStyle.TotalCell" style="@PivotStyle.CellStyle"  @attributes="@UserAttributes" rowspan="@RowSpan" colspan="@ColSpan" scope="@Scope">
    @ChildContent
</td>

@code {
  

}