@namespace LeaderPivot.Blazor
@inherits Cell

<td data-label="@DataLabel" style="@Style" class="@ClassName" @attributes="@UserAttributes" rowspan="@RowSpan" colspan="@ColSpan" scope="@Scope">
    @ChildContent
</td>

@code {

  

}